{% extends 'layout.html' %}

{% block content %}
<h2>Borrow & Return Records</h2>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Book Title</th>
            <th>Member Name</th>
            <th>Borrow Date</th>
            <th>Due Date</th>
            <th>Return Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        {% if record.return_date is none and record.due_date and record.due_date < today %}
            <tr class="table-danger">
        {% else %}
            <tr>
        {% endif %}
            <td>{{ record.id }}</td>
            <td>{{ record.title }}</td>
            <td>{{ record.name }}</td>
            <td>{{ record.borrow_date }}</td>
            <td>{{ record.due_date if record.due_date else "N/A" }}</td>
            <td>{{ record.return_date if record.return_date else "Not Returned" }}</td>
            <td>
                {% if not record.return_date %}
                <a href="{{ url_for('return_book', record_id=record.id) }}" class="btn btn-sm btn-success">Return</a>
                {% else %}
                Returned
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
